<!DOCTYPE html>

<head>
    <title>Form</title>
</head>

<body>
    <form action="/jsondata" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name"><br><br>
        <label for="surname">Surname: </label>
        <input type="text" name="surname" id="surname"><br><br>
        <label for="color">Favorite Color: </label>
        <input type="text" name="color" id="color"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>