<!DOCTYPE html>
<html>

<head>
    <title>Form data</title>
</head>

<body>
    <h1>Form data</h1>
    <p>Name: <%= name %></p>
    <p>Surname: <%= surname %></p>
    <p>Favorite Color: <%= color %></p>
</body>

</html>